body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f5faff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #021024, #01203a);
  padding: 3px 32px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo img {
  width: 140px;
  transition: transform 0.3s ease;
}
.logo img:hover {
  transform: scale(1.05);
}

.menu-toggle {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  transition: 1s;
}
.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.3s ease;
}
.nav-links li a:hover {
  background: rgba(255, 255, 255, 0.15);
}
.nav-links li a.active {
  background: rgba(255, 255, 255, 0.25);
  border: 2px solid #00e5ff;
}
/* Layout */
.main-container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 25%;
  background-color: #011627;
  color: #fff;
  padding: 0px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar h3 {
  text-align: center;
  color: #00e5ff;
  margin-bottom: 20px;
}

.sidebar li {
  list-style: none;
  padding: 12px 15px;
  background: #022b3a;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover,
.sidebar li.active {
  background: #00e5ff;
  color: #011627;
}

/* Content Area */
.content {
  flex: 1;
  background: #ffffff;
  border-left: 3px solid #00e5ff;
  padding: 40px;
}

.content h2 {
  color: #011627;
}

#pdfViewer {
  width: 100%;
  height: 80vh;
  border: none;
  margin-top: 15px;
}

/* Quiz Styles */
#quiz {
  background: #f9f9ff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#quiz ul {
  list-style: none;
  padding: 0;
}

#quiz li {
  margin: 10px 0;
}

.option-btn {
  background: #e3f2fd;
  border: none;
  width: 100%;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.option-btn:hover {
  background: #bbdefb;
}

.correct {
  background-color: #c8e6c9 !important;
}

.wrong {
  background-color: #ffcdd2 !important;
}

.btn {
  margin-top: 15px;
  padding: 10px 18px;
  background: #00796b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #004d40;
}
